// 全屏样式
body {
  padding: 0;
  /*去除内边距*/
  border: 0;
  /*去除边框*/
  margin: 0;
  /*去除外边距*/
}


// 视频
video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  display: block;
  z-index: -1;
  background-size: cover;
  /*加滤镜*/
  filter: grayscale(100%); //背景模糊设置
  &:last-child {
    right: 0;
    left: auto;
  }
}

.table {
  display: table;
  width: 100%;
  height: 100%;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.container {
  position: relative;
  width: 600px;
  height: 320px;
  backdrop-filter: blur(12px);
  border-radius: 20px;
  top: 50%;
  margin: 15% auto 0;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
}


.container .container-forms {
  position: relative;
}

.container .btn {
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  width: 80px;
  border-radius: 20px;
  color: #fff;
  background-color: #7394ff;
  opacity: 1;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.container .btn:hover {
  opacity: .7;
}

.container .btn, .container input {
  padding: 10px 15px;
}

.container input {
  margin: 0 auto 15px;
  display: block;
  width: 220px;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.container .container-forms .container-info {
  text-align: left;
  font-size: 0;
}

.container .container-forms .container-info .info-item {
  text-align: center;
  font-size: 16px;
  width: 300px;
  height: 320px;
  display: inline-block;
  vertical-align: top;
  color: #fff;
  opacity: 1;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.container .container-forms .container-info .info-item p {
  font-size: 20px;
  margin: 20px;
}

.container .container-forms .container-info .info-item .btn {
  background-color: transparent;
  border: 1px solid #fff;
}

.container .container-forms .container-info .info-item .table-cell {
  padding-right: 35px;
}

.container .container-forms .container-info .info-item:nth-child(2) .table-cell {
  padding-left: 35px;
  padding-right: 0;
}

.container .container-form {
  overflow: hidden;
  position: absolute;
  left: 30px;
  top: -30px;
  width: 305px;
  height: 380px;
  border-radius: 20px;
  backdrop-filter: blur(100px) opacity(20%);
  background-color: rgba(224, 221, 221, 0.2);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.container .container-form:before {
  content: "✔";
  position: absolute;
  left: 160px;
  top: -50px;
  font-size: 130px;
  opacity: 0;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.container .container-form .btn {
  position: relative;
  box-shadow: 0 0 10px 1px #73b9ff;
  margin-top: 30px;
}

.container .form-item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.container .form-item.sign-up {
  position: absolute;
  left: -100%;
  opacity: 0;
}

.container.log-in .container-form {
  left: 265px;
}

.container.log-in .container-form .form-item.sign-up {
  left: 0;
  opacity: 1;
}

.container.log-in .container-form .form-item.log-in {
  left: -100%;
  opacity: 0;
}

.container.active {
  width: 260px;
  height: 140px;
  margin-top: -70px;
}

.container.active .container-form {
  left: 30px;
  width: 200px;
  height: 200px;
}

.container.active .container-form:before {
  content: "✔";
  position: absolute;
  left: 51px;
  top: 5px;
  color: #5356ad;
  font-size: 130px;
  opacity: 1;
}

.container.active input, .container.active .btn, .container.active .info-item {
  display: none;
  opacity: 0;
  padding: 0;
  margin: 0 auto;
  height: 0;
}

.container.active .form-item {
  height: 100%;
}

.container.active .container-forms .container-info .info-item {
  height: 0;
  opacity: 0;
}

.rabbit {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 3;
  fill: #fff;
}

// 标题
.title {
  color: #ffffff;
  text-align: center;
  top: 10%;
}

.item-icon {
  position: absolute;
  width: 20px;
  left: 75%;
  top: 70%;
}

.icon-data {
  position: absolute;
  top: 55%;
}
