.playView {
  position: absolute;
  bottom: 0;
  background-color: rgba(126, 120, 120, 0.43);
  height: 8vh;
  width: 100%;
  padding-top: -3vh;

 .item-i  {
    font-size: 3vw;
   position: absolute;
   left: 50%;
  }
}
